/* generics */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-10-icon {
    font-size: 60px;
}

.ex-11-icon {
    font-size: 60px;
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}



/* ex 1 */
.ex-1-square:hover {
    background-color: red;
    transition: all 300ms linear 0ms;}


/* ex 2 */
.ex-2-square:active {
    width: 100%;
    transition: 200ms;
}

/* ex 3 */
.ex-3-square:hover {
    border-radius: 50%;
    transition: 400ms;
}

/* ex 4 */
.ex-4-square:hover {
    opacity: 0;
    transition: 400ms;
}

/* ex 5 */
.ex-5-square:hover {
    width: 80px;
    height: 80px;
    transition: 400ms;
}

.ex-5-square:active {
    width: 40px;
    height: 40px;
    transition: 400ms;
}
/* potevo usare scale... */


/* ex 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* ex 7 */
.ex-7-img:hover {
    filter: sepia(0.8) opacity(0.7);
    transition: 700ms;
}

/* ex 8 */
.ex-8-img:hover {
    filter: grayscale(0.6) invert(1);
    border-radius: 12px;
    transition: 700ms;
}

/* ex 9 */
.ex-9-img:hover {
    filter: grayscale(0.6) invert(1);
    border-radius: 12px;
    transition: 700ms;
    transform: scale(0.6);
}

/* ex 10 */
.ex-10-icon {
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(1turn);}
}

/* ex 11 */
.ex-11-icon:hover {
    animation: spin270 1.5s linear;
}

@keyframes spin270 {
    0% {transform: rotate(0);}
    90% {transform: rotate(270deg);}
    0% {transform: rotate(0);}    
}

/* ex 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: top-white 1s;
}

@keyframes top-white {
    0% {left: 15%}
    50% {left: 5%}
    0% {left: 15%;}
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: bottom-white 1s;
}

@keyframes bottom-white {
    0% {right: 15%}
    50% {right: 5%}
    0% {right: 15%;}
}

/* ex 13 */







